# Docker Upstart and SysVinit configuration file

# Customize location of Docker binary (especially for development testing).
#DOCKER="/usr/local/bin/docker"

# Use DOCKER_OPTS to modify the daemon startup options.
DOCKER_OPTS="--dns 8.8.8.8 -H tcp://0.0.0.0:2376 --tlsverify --tlscacert={{ docker_tls_ca_cert_file }} --tlscert={{ docker_tls_server_cert_file }} --tlskey={{ docker_tls_server_key_file }}"

# If you need Docker to use an HTTP proxy, it can also be specified here.
#export http_proxy="http://127.0.0.1:3128/"

# This is also a handy place to tweak where Docker's temporary files go.
#export TMPDIR="/mnt/bigdrive/docker-tmp"